.App {
  padding: 30px;
  display: flex;
  height: 100%;
}

.App > div {
  margin-right: 50px;
}
/* body{
  background-color:blueviolet
} */
#h3 {
  color: rgb(184, 11, 138);
  font-size: 20px;
}
.app {
  width: 100%;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
  background-image:url(https://klike.net/uploads/posts/2019-06/1560231198_15.jpg) ;
  /* background-repeat: no-repeat; */
  background-size: cover;
  }
